head {
    text-align: center;
}
body {
    min-width: 400px;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid green;
    border-radius: 5px;
    margin: 5px;
}
button {
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background: green;
    text-align: center;
    border-radius: 5px;
    text-shadow: none;
    align-self:center;
    border: 1px solid gold;
}
#clear-btn {
    background: white;
    color: green;
}
#input-el{
    text-align: center;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}
li{
    text-align: left;
    margin-top: 5px;

}
li a {
    color: green;
}